<div id="pageContainer">

  <div class="navbar">
    <h1>Be Real Downloader</h1>
    <wcs-button *ngIf="communicationService.API_userToken" shape="rounded"><wcs-mat-icon icon="logout" (click)="communicationService.disconnectUser()"></wcs-mat-icon></wcs-button>
  </div>

  <wcs-badge class="wcs-warning" *ngIf="!communicationService.stage_tokenRefreshed">Actualisation du token en cours</wcs-badge>

  <app-connect-accordion *ngIf="!communicationService.API_userToken"></app-connect-accordion>

  <app-mem-feed *ngIf="communicationService.API_userToken"></app-mem-feed>

</div>
